services:
  backend:
    build:
      context: ../backend
      dockerfile: ../docker/Backend.Dockerfile
    ports:
      - '5000:5000'
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - appnet

  frontend:
    build:
      context: ../frontend
      dockerfile: Frontend.Dockerfile
      args:
        VITE_API_URL: "http://backend:5000"
    ports:
      - '8080:80'
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
